@import "../ui/collapsable.css";
@import "../ui/shortcuts.css";
@import "../ui/status-indicator.css";
@import "../ui/screen-block.css";
@import "../ui/utilities.css";
@import "../ui/permissions.css";
@import "../ui/list.css";


/* The parent page will expand to fit this page's content, but there is a delay so the scrollbar will flash on and off if we don't hide it: */
:root.embeddedInExtensionPage body {
    overflow-y: hidden;
}
/* The parent page won't resize to fit the horizontal scrollbar so make sure that is never needed for body by showing the scrollbar for child elements instead. */
:root.embeddedInExtensionPage body > * {
    max-width: 100%;
    overflow: auto;
}


#topLinkToOptionsPage {
  float: right;
  padding-right: 1em;
}
:root:not(.embeddedInExtensionPage) #topLinkToOptionsPage {
  display: none;
}


.extensionToggleArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.extensionToggleArea > *:not(button) {
    flex: 1 0 auto;
}
.extensionToggleArea button {
    text-align: center;
    min-height: 3em;
    font-size: 1.2em;
    width: 40%;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.category {
    margin-bottom: 50px;
    padding-bottom: 0;
}
.permissionsCategory {
    margin-top: 30px;
}


.mouseClickArea:not(.enabled) > *:not(:first-child),
.mouseClickArea.enabled .area:not(.enabled) > *:not(:first-child),
.contextMenuItemArea:not(.enabled) > *:not(:first-child),
.ensureCorrectLoad:not(.enabled) > .area > *,
.disabled {
    opacity: 0.6;
}
.mouseClickArea:not(.enabled) > *:not(:first-child)  .disabled,
.mouseClickArea.enabled .area:not(.enabled) > *:not(:first-child)  .disabled,
.contextMenuItemArea:not(.enabled) > *:not(:first-child)  .disabled,
.ensureCorrectLoad:not(.enabled) > .area > *  .disabled,
.disabled .disabled {
    opacity: 1;
}

.modifierKeysArea input {
    margin-top: 9px;
}

.modifierKeysArea {
    margin-top: 10px;
}
.modifierKeysArea > label {
    margin-right: 10px;
}
.timeout {
    margin: 2px;
}
.timeout:not(:first-child) {
    padding-top: 8px;
}


.tabHideAPIStatusArea {
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.checkTabHideAPIStatusButton {
    position: relative;
    padding: 5px;
    height: 80%;

    margin: 10px;
}

.styleTextarea {
    width: 100%;
}

input[type="text"]:not(.notFullSize) {
    width: 100%;
}

.resetSettingsButton {
    padding: 10px;
}


.privacyPermissionsArea > .privacyPermissionsStatusArea {
    margin: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.privacyPermissionsArea > .privacyPermissionsStatusArea > * {
    margin: 4px;
}
