
.mouseClickArea, 
.modifierKeysArea,
.clickDurationArea,
.doubleClickArea {
    border: 1px solid black;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}
.mouseClickArea {
  margin-bottom: 25px;
}

.mouseClickArea:not(.enabled) > *:not(:first-child),
.mouseClickArea.enabled .doubleClickArea:not(.enabled) > *:not(:first-child) {
    opacity: 0.6;
}

.modifierKeysArea input {
    margin-top: 9px;
}

.modifierKeysArea {
    margin-top: 10px;
}
.modifierKeysArea > label {
    margin-right: 10px;
}
.timeout {
    margin: 2px;
}
.timeout:not(:first-child) {
    padding-top: 8px;
}