

/* #region Global */

.textSelectable {
    -moz-user-select: text;
}
.textNotSelectable {
    -moz-user-select: none;
}

*[class*='message'] {
    white-space: pre-line;
}

.screenBlocker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}
:root.dontBlockScreen .screenBlocker {
    display: none;
}
:root:not(.blockScreen):not(.dragging) .screenBlocker {    
    display: none;
}

.area {
    border: 1px solid black;
    border-radius: 5px;
}
.area:not(.noPadding) {
    padding: 5px;
}
.area:not(.noMargin) {    
    margin: 3px;
}

/* #endregion Global */



/* #region Status Indicator */

.statusIndicatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusIndicator {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}
.statusIndicator.newLine {
    flex-direction: column;
}
.statusIndicator.standardFormat {
    padding: 10px;
    border: 5px;
    border-radius: 5px;
}
.statusIndicatorWrapper .statusIndicator.fill {
    flex: 1 1 auto;
    align-self: stretch;
}

.statusIndicator * {
    text-align: center;
}

.statusIndicator .statusIndicatorValues {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statusIndicator:not(.enabled):not(.error) {
    background-color: red;
}
.statusIndicator.enabled:not(.error) {
    background-color: green;
}
.statusIndicator.error {
    background-color: yellow;
    color: black;
}

.statusIndicator:not(.error) .statusIndicatorError,
.statusIndicator:-moz-any(:not(.enabled), .error) .statusIndicatorEnabled,
.statusIndicator:-moz-any(.enabled, .error) .statusIndicatorDisabled {
    visibility: hidden;
    max-height: 0px;
}

/* #endregion Status Indicator */



/* #region Tab */

:root {
    --tab-header-height: 30px;
    --tab-header-border-style: 1px solid;
    --tab-header-border-color:  #ddd;
    --tab-header-border: var(--tab-header-border-style) var(--tab-header-border-color);
}

.tabArea {
    margin-bottom: 10px;
}

.tabArea > .tabHeaderListWrapper {
    display: flex;
}
.tabArea > .tabHeaderListWrapper > .filler {
    border-bottom: var(--tab-header-border);
    flex-grow: 1;
    width: 0px;
}
.tabArea > .tabHeaderListWrapper > .filler:first-child {
    width: 0px;
    flex-grow: 0;
}

.tabArea > .tabHeaderListWrapper > .tabHeaderList {
    display: flex;
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper {
    display: flex;
}
.tabArea  > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper > .tabHeader {    
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border: var(--tab-header-border-style) var(--tab-header-border-color);
    border-bottom: var(--tab-header-border);
    cursor: pointer;
    min-width: 20px;
    min-height: 35px;
    font-size: 15px;
    padding: 10px;
}
.tabArea  > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper:not(.active) > .tabHeader * {
    cursor: pointer;
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper > .filler {
    border-bottom: var(--tab-header-border);
    width: 5px;
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper:last-of-type > .filler {
    width: 0px;
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper > .filler:first-child {
    width: 0px;
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper:not(.active) > .tabHeader {
    --tab-header-border-color: hsla(0, 0%, 0%, 0%);
    color: hsl(200, 100%, 35%);
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper:not(.active) > .tabHeader:hover {
    background-color: hsla(0, 0%, 0%, 5%);
    color: hsl(200, 100%, 25%);
}
.tabArea > .tabHeaderListWrapper > .tabHeaderList > .tabHeaderWrapper.active > .tabHeader {
    border-bottom: var(--tab-header-border-style) hsla(0, 0%, 0%, 0%);
    cursor: auto;
}


.tabArea > .tabContentList > .tabContent {
    padding-top: 20px;
}
.tabArea > .tabContentList > .tabContent:not(.active) {
    display: none;
}

/* #endregion Tab */



/* #region List */

.dragging * {
    cursor: initial !important;    
    -moz-user-select: none;
}
.draggable,
[draggable=true] {
    cursor: move;
    pointer-events: initial !important;
}

.list {
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.listItem.dragged > .sectionWrapper {
    opacity: 0.6;
}

.listItem > .sectionWrapper {
    border: 2px solid transparent;
    border-radius: 5px;
}

.listItem.dropTarget > .sectionWrapper {
    border-color: black;
    background-color: black;
}

.dropMarker {
    height: 2px;
    margin: 12px;
}
.dropMarker.dropTarget {    
    background-color: black;
}

.listItemDragWrapper {
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    align-self: stretch;
}
.listItemDragWrapper * {
    flex: 0 0 auto;
}
.dragIcon {
    --drag-icon-border-size: 2px;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.dragIconLine {
    width: 100%;
    flex: 0 0 auto;

    background-color: hsl(0, 0%, 60%);
    height: var(--drag-icon-border-size);
}
.dragIcon * {
    transition: background-color 0.05s;
}
.dragIcon.dragged *,
.dragIcon:hover * {
    background-color: hsl(196, 61%, 59%);
}

/* #endregion List */



/* #region Collapsable Section */

:root {
    --collapsable-border: 1px solid hsl(0, 0%, 50%);
    --collapsable-header-border: 1px solid hsl(0, 0%, 60%);
}

.section {
    border: var(--collapsable-border);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}
.section > .headerArea {
    min-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;

    text-align: center;

    display: flex;
    position: relative;
    overflow: hidden;

    background-color: hsl(120, 0%, 93%);
}
.section > .headerArea:not(.preventOpen) {
    cursor: pointer;
}
.section > .contentWrapper > .contentArea {
    border-top: var(--collapsable-header-border);
}


/* #region Header Hover */

.section > .headerArea > .hoverIndicator,
.section > .headerArea > .hoverIndicator::after {
    position: absolute;
    
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.section > .headerArea > .hoverIndicator {
    pointer-events: auto !important;

    z-index: 100;
}

.section > .headerArea > .hoverIndicator::after {
    content: "";
    pointer-events: none;

    z-index: 1000;

    background-color: hsl(230, 3%, 60%);
    opacity: 0;
    transition: opacity 0.1s;
}
.section > .headerArea:not(.preventOpen) .hoverIndicator:hover::after {
    opacity: 0.15;
}

/* #endregion Header Hover */


/* #region Enabled */

.enablable {
    background-color: hsl(120, 80%, 90%) !important;
}
.enablable:not(.enabled) {
    background-color: hsl(0, 80%, 90%) !important;
}
.enablable.enabled.error {
    background-color: hsl(60, 80%, 90%) !important;
}

/* #endregion Enabled */


/* #region Header children */

.section > .headerArea > * {
    text-align: center;
}
.section > .headerArea * {
    flex: 0 0 auto;

    pointer-events: none;
    z-index: 50;
}

.section > .headerArea *.preventOpen,
.section > .headerArea *.preventOpen * {
    pointer-events: all;
    z-index: 500;
}

/* #endregion Header children */


/* #region Collapsed/Closed */

.section > .contentWrapper {
    overflow-y: hidden;
}
.collapsable.collapsed > .contentWrapper {
    overflow: hidden;
    max-height: 0px !important;
}
.collapsable:not(.open) > .contentWrapper {
    display: none;
}

/* #endregion Collapsed/Closed */


/* #region Standard modifiers */

.section > .headerArea.center > *,
.section > .headerArea > *.center {
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
}
.section > .headerArea.stretch > *,
.section > .headerArea > *.stretch {
    flex: 1 1 auto;
    text-align: stretch;
    align-self: stretch;
}
.section:not(.noShadow) {
    box-shadow: 1px 1px 4px -1px;
}
.section > .headerArea:not(.noFontChanges) {
    font-size: 20px;
}
.section > .headerArea.small {
    min-height: 25px;
}
.section > .headerArea.small:not(.noFontChanges) {
    font-size: 18px;
}
.section.standardFormat {
    margin: 10px;
    margin-bottom: 25px;
}
.section.standardFormat > .contentWrapper > .contentArea,
.section > .contentWrapper > .contentArea.standardFormat {
    padding: 5px;
    padding-bottom: 10px;
}

/* #endregion Standard modifiers */

/* #endregion Collapsable Section */



/* #region Drop Down Button */

:root {
    --dropDown-button-background: hsl(210, 100%, 100%);
    --dropDown-color: black;
    --dropDown-button-opacity: 0.8;
    --dropDown-button-opacity-hover: 1;
    --dropDown-menu-background: #f1f1f1;
    --dropDown-menu-color: #black;
    --dropDown-menu-item-background-hover: #ddd;
}

.dropDownArea {
    position: relative;
    display: inline-block;
}

 .dropDownButton {
    background-color: var(--dropDown-button-background);
    color: var(--dropDown-button-color);
    opacity: var(--dropDown-button-opacity);

    padding: 3px;
    border: 1px solid black;
    cursor: pointer;

    max-width: 250px;
    min-width: 20px;
    min-height: 20px;
    width: 100%;
}

.dropDownButton .arrow {
    float: right;
}

.dropDownButton:hover, .dropDownArea.open > .dropDownButton {
    opacity: var(--dropDown-button-opacity-hover);
}

.dropDownContent {
    display: block;
    position: absolute;

    background-color: var(--dropDown-menu-background);
    color: var(--dropDown-menu-color);

    min-width: 160px;
    max-width: 400px;
    min-height: 20px;
    max-height: 400px;

    overflow: auto;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownContent > * {
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}
.dropDownContent > *.selectable:hover {
    background-color: var(--dropDown-menu-item-background-hover);
}

.dropDownArea:not(.open) > .dropDownContent {
    display: none;
}

.dropDownContent > .group {
    font-weight: bold;
    padding-left: 15px;
}
.dropDownContent > .group ~ *:not(.group) {
    padding: 4px 15px;
    padding-left: 25px;
}

/* #endregion Drop Down Button */



/* #region Optional Permissions */

.permissionController .permissionHeader {
    flex: 1 1 auto !important;
    align-self: center;
    font-size: 20px;
}

.permissionController .manageArea {
    display: flex;
    padding: 0px;
    margin: -2px;
}
.permissionController .manageArea > *:not(:first-child) {
    margin-left: -2px;
}


.permissionController .permissionIndicator {
    font-size: 15px;

    align-self: stretch;
}
.permissionController .permissionIndicator > * {
    padding-left: 10px;
    padding-right: 10px;
}
.permissionController .permissionIndicator .statusIndicatorValues {
    padding-left: 5px;
}


:root.prompting > *:not(.prompt) {
    opacity: 0.6;
}
:root.prompting .screenBlocker {
    background-color: hsla(0, 0%, 0%, 30%);
}

.browserActionPrompt:not(.active) {
    display: none;
}
.browserActionPrompt {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -1px;
    width: 80%;
    left: 10%;
}

/* #endregion Optional Permissions */
