.screenBlocker {
    z-index: 10000000;

    display: block;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
:root.dontBlockScreen .screenBlocker {
    display: none;
}
:root:not(.blockScreen):not(.dragging) .screenBlocker {
    display: none;
}
